# Xcode / Swift
.DS_Store
*/.DS_Store
.build/
Packages/
Package.resolved
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
.swiftpm/
xcuserdata/

# Backup & logs
*.log
*.tmp
